.jt {
    color: blue;
    text-align: center;
    font-size: 100%;
}

.bt {
    background-color: black;
    color: white;
    border-style: groove;
    border-radius: 1cm;
    margin-bottom: 1cm;
}

body {
    border-style: groove;
    border-radius: 1cm;
    padding: auto;
    border-width: 1cm;
}

.mo {

}