.jt {
    color: blue;
    text-align: center;
    font-size: 100%;
}

.bt {
    background-color: black;
    color: white;
    border-style: groove;
    border-radius: 1cm;
    margin-bottom: 1cm;
    margin-top: 1cm;
    width: 100px;
    transition-duration: 0.5s;
    height: 25px;
}

.bt:hover {
    background-color: white;
    color: black;
}

body {
    border-style: groove;
    border-radius: 1cm;
    padding: auto;
    border-width: 1cm;
}

.mo {
    block-size: 1cm;
    padding: auto;
    margin: auto;
}